Synthetic Data Generation/.env
/Calls_Google_Cloud_TTS/.env
/Call_Summarization_and_Emotional_Analysis/.env
myenv
Calls Google Cloud TTS/.env
.gitignore
Calls Data Google Cloud /.env
Calls Google Cloud TTS/.env
Calls Google Cloud TTS/.env
Calls Google Cloud TTS/.env
Calls Data Google Cloud/.env
