Synthetic Data Generation/.env
/Calls_Google_Cloud_TTS/.env
myenv
Calls Google Cloud TTS/.env
Calls Data Google Cloud /.env
Call Summarization and Emotional Analysis/.env
Call Summarization and Emotional Analysis/.env
